.device-detail-container {
  background: #013828;
  min-height: 100vh;
  color: #fff;
  padding: 40px;
}

.device-detail-card {
  background: white;
  color: #333;
  padding: 20px;
  border-radius: 10px;
}

.back-btn {
  background: #ccc;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}
