body, html {
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  background-color: #013828;
}

.profile-container {
  width: 100vw;
  height: 100vh;
  background-color: #013828;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card {
  width: 700px;
  background-color: white;
  border-radius: 30px;
  padding: 40px;
  border: 4px solid #00aaff;
  position: relative;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

  .back {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #002e24;
    padding: 8px;
    border-radius: 50%;
    transition: all 0.3s ease;
  
    &:hover {
      background-color: #f0f0f0;
      transform: scale(1.1);
    }
  }

.icon {
  width: 50px;
  margin-bottom: 10px;
}

.user-id {
  background-color: #d9d9d9;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
}

.title {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.info-row {
  margin-bottom: 15px;
}

.info-row .label {
  font-weight: bold;
  margin-bottom: 5px;
}

.info-row input.value {
  width: 60%;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}


.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.value {
  width: 50%;
  height: 40px;
  background-color: #d9d9d9;
  border-radius: 15px;
}


.button-group {
  margin-top: 30px;
}

.edit-button {
  background-color: #1eec16;
  border: none;
  padding: 10px 30px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

/* ติดต่อ Admin */
.admin {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: center;
  font-size: 14px;
}

.admin img {
  width: 30px;
  height: 30px;
}
/* ติดต่อ Admin */
.admin {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: center;
  font-size: 14px;
}

.admin img {
  width: 30px;
  height: 30px;
}
