<div class="container">
  <div class="card">
    <div class="card-small">
      <form>
        <!-- Logo -->
        <div class="logo">
          <img src="https://cdn-icons-png.freepik.com/512/1345/1345362.png" alt="">
        </div>

        <!-- Input fields -->
        <div class="form-group">
          <div class="input-label">Username</div>
          <input type="text" #usernameInput />
        </div>

        <div class="form-group">
          <div class="input-label">Password</div>
          <input type="password" #passwordInput
                 (keyup.enter)="loginuser(usernameInput.value, passwordInput.value, $event)">
        </div>

        <!-- Links -->
        <div class="links">
          <a class="register" (click)="register()">Register</a>
          <span class="forgot" (click)="goToForgotPassword()">Forgot Password</span>
        </div>

        <!-- Login button -->
        <button type="submit" class="login-btn"
                (click)="loginuser(usernameInput.value, passwordInput.value, $event)">
          Login
        </button>
        <!-- หรือ Divider -->
        <div class="divider">หรือ</div>

        <!-- ปุ่ม Google Sign-In -->
        <button type="button" class="google-btn" (click)="loginWithGoogle()">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/768px-Google_%22G%22_logo.svg.png" alt="Google Logo" />
          Login with Google
        </button>
      </form>
    </div>
  </div>
</div>
