.measure-container {
  width: 100vw;
  height: 100vh;
  background-color: #013828;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 750px;
  height: 550px;
  background: white;
  border-radius: 20px;
  border: 4px solid #00aaff;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}

/* ไอคอนบนสุด */
.chip-icon {
  width: 40px;
  position: absolute;
  top: 10px;
  left: calc(50% - 20px);
}
.back {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 24px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-id {
  background-color: #d9d9d9;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 50px; /* Add margin to avoid overlap with .back */
}
.user-icon {
  position: absolute;
  right: 30px;
  top: 40px;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.user-icon img {
  width: 30px;
  height: 30px;
}

.subtitle {
  font-size: 14px;
  color: #333;
}

.device-id {
  background-color: #d9d9d9;
  border-radius: 15px;
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
}

.label-orange {
  color: #e37932;
}

.history-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.history-item {
  background-color: #d9d9d9;
  border-radius: 15px;
  display: flex;
  justify-content: space-between; /* ซ้าย-ขวา */
  align-items: center;
  padding: 15px 20px;
  flex-wrap: wrap; /* กันซ้อน */
}

.history-name {
  font-weight: bold;
  font-size: 16px;
}

.view-btn {
  background-color: #ffc9d4;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: #fbb9c7;
  }
}

/* ป้องกันปุ่มชนขอบ */
@media (max-width: 600px) {
  .history-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .view-btn {
    align-self: flex-end;
  }
}

/* ติดต่อ Admin */
.admin {
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin-top: 40px;
  margin-left: auto;
  text-align: center;
  font-size: 14px;
}

.admin img {
  width: 30px;
  height: 30px;
}

.device-box {
  background: #e6e6e6;
  padding: 10px 15px;
  border-radius: 10px;
  width: fit-content;
  margin-top: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.device-box .chip-icon {
  width: 25px;
  height: 25px;
}